* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.3s;
}
html, body {
  margin: 0;
  padding: 0;
  font-family:"Montserrat", sans-serif;
}
  .wrapper {
    background-image:linear-gradient(rgb(22 21 21 / 47%), rgb(14 14 14 / 18%)), url('img/back.jpg');
    background-size: cover;           
    background-repeat: no-repeat;   
    background-position: center ;  
    background-attachment: fixed; 
    min-height: 100vh;
  }
.main {
  background-color:white;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 100%;
}
.card-title{
  font-size: 17px;
  line-height: 20px;
  /* color: #2F9CD9; */
  font-weight: 600;
  margin-bottom: 7px;
}
.navbar {
  background-color: #ab7ced;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
 z-index: 1;
}
.nav-img {
  margin: auto;
}
.nav-img img{
  display: block;
  height: 37px;
}
.content-div img {
  height: 150px;
  margin: 0 auto !important;
}
.content-div h2 {
  color: #8248d4c2;
  font-weight: 600;
  line-height: 26.6px;
  padding: 0;
}
h4,h3,h2{
  font-weight: 600;
  /* line-height: 26.6px; */
   padding: 0;
}

.content-div {
  text-align: center;
  padding: 15px;
}
.card {
  margin: auto;
  height: 280px;
  border-radius: 10px;
  background-color: #f8f7fea1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
  }
.card-img-top {
  height: 65px;
  width: 65px;
  margin: auto;
}
.card p {
  font-size: 12px;
  font-weight: 500;
  color: #7d7d7d !important;
}
.card-body b {
  font-size: 15px;
}
.card-btn {
  border-radius: 40px;
  border-color: #8248d4;
  background-color: white;
  color: #8248d4;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
}
.card-btn:hover {
  background-color: #8248d4;
  color: white;
}
.btn {
  width: 100%;
  background-color: #8248d4;
  color: white;
  box-shadow: 2px 2px 14px rgb(0 0 0 / 40%);
}
.button{
  width: 100%;
  background-color: #ba93f9;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #BA8FFE;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button:hover{
  background-color: #9d64f8;
}
.btn:hover {
    background-color: #ab7eeb;
    color:white;
}
.btn-text{
  font-size: 13px !important;
  font-weight: 600;
}
.underline {
  width: 125px;
  height: 3px;
  background-color: black;
  margin: auto;
  margin-top: 3px;
}
.contact-div a {
  color: gray;
  text-decoration: none;
}
.social-div a {
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7d7d7da8;
}
p{
  /* font-size: 15px; */
  margin: 8px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #545454;
  padding: 0;
  letter-spacing: 0.3px
}
ul{
  font-size: 15px;
}
a{
  color: unset;
  text-decoration: none;
  font-size: unset;
  color: unset;
}

@media only screen and (max-width: 430px) {
  .main {
      max-width: 100% !important;
      width: 100% ;
       margin: 0; 
  }
}

