.section1 img {
  background-color: #f3effb;
  border-radius: 20px;
  height: 200px;
  width: 230px;
  padding: 15px;
  margin: 15px;
}
.title{
  color: #8248d4c2;
}
.title1{
  margin: 20px 0 -4px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.card1 {
  margin: auto;
  /* width: 330px; */
  border-radius: 20px;
  background: #dac4fb63;
  height: auto;
  border: 1px solid #c8a6f7;
  border-radius: 10px;
  text-align: center;
}
.btn1 {
    width: auto;
    height: 37px !important;
    height: 33px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #BA8FFE;
    /* font-size: 14px; */
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 14px rgb(0 0 0 / 40%);
    color: white !important;
    border: none;
    font-weight: 500;
    line-height: 21px;
}
.btn1:hover {
  background-color: #c8a8fc;
  color: white;
  border-color:#cab0f3 ;
}

@media only screen and (max-width: 375px) {
 .card{
  height: auto;
 }
}



